:root {
  --color-main: #fff;
  --color-warning: #ff8a00;
  --color-danger: #ea4b48;
  --color-danger-transparent: rgb(234 75 72 / 20%);
  --color-primary-text: #fff;
  --color-primary-bg: #0c1c3e;
  --color-secondary-bg: #f2f2f2;
  --color-overlay: rgb(0 0 0 / 70%);
  --color-button-primary: #7b68ee;
}
